body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", "Helvetica Neue", "Arial", "sans-serif";
}

.iframe-container {
    width: 100%;
    position: relative;
}

.iframe-widget {
    width: 100%;
}

.youtube-iframe {
    width: 100%;
    height: 75vh;
}

.video-overlay {
    background-color: transparent;
    text-align: center;
    width: 100%;
}

.tag-line {
    font-size: 8vw;
    color: Black;
    text-align: center;
}

.join-button {
    font-size: 3vw;
    padding: 5px 10px;
    margin: 20px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
}

.join-button:hover {
    color: green;
    transform: scale(1.2); 
    transition: transform 0.2s ease-in-out;
}


.distance-container {
    max-width: 1000px;
    margin: 0 auto;
}

.distance {
    display: table;
    clear: both;
    margin-bottom: 20px;
}

.distance-image {
    max-width: 50%;
    max-height: 50%;
    float: left;
    margin: 1.2em;
}

.distance-image:hover {
    filter: grayscale(100%)
}


.distance:nth-child(even) .distance-image {
    float: right;
}

.distance-container h2 {
    font-size: 32px;
}

.distance-container p {
    text-align: left;
}

.distance-container p::first-letter{
    font-size: 2em;
}

.map-container {
    margin: 10px 50px;
}

.map-container h2 {
    font-size: 32px;
    padding: 20px 50px;
}

